@{
    ViewBag.Title = "Dashboard";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>@Html.Action("Usuario", "Painel")</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li class="tg-active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="counter">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.cont_instrutor</p>
                                        <p>Instrutores</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.cont_curso</p>
                                        <p>Cursos</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.cont_aluno</p>
                                        <p>Alunos</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.avaliacao</p>
                                        <p>Avaliação Média</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row pt">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>CURSOS</h3>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="52%">CURSO</th>
                                <th width="12%">INSTRUTORES</th>
                                <th width="12%">ALUNOS</th>
                                <th width="12%">VAGAS</th>
                                <th width="12%">DATAS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in ViewBag.cursos)
                            {
                                <tr>
                                    <td>@p.curso</td>
                                    <td>@p.instrutor</td>
                                    <td>@p.aluno</td>
                                    <td>@(p.maximo == 0 ? "-" : (p.maximo - p.aluno))</td>
                                    <td>
                                        @foreach (var d in p.datas)
                                        {
                                            @d.dtcurso<br />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</main>