@{
    ViewBag.Title = "Dashboard";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>@Html.Action("Usuario", "Painel")</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li class="tg-active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="counter">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.cont_aluno</p>
                                        <p class="bg_cinza">
                                            <strong>@ViewBag.contadores.cont_alunos_ciclo</strong> - Cadastrados Diagweb sem produtos <a href="javascript:lista(1)">(ver)</a><br />
                                            <strong>@ViewBag.contadores.cont_alunos_compra</strong> - Cadastrados Diagweb com produtos <a href="javascript:lista(2)">(ver)</a><br />
                                            <strong>@(((ViewBag.contadores.cont_aluno - ViewBag.contadores.cont_alunos_ciclo) - ViewBag.contadores.cont_alunos_compra) - ViewBag.contadores.cont_alunos_email)</strong> - Não cadastrados <a href="javascript:lista(4)">(ver)</a><br />
                                            <strong>@ViewBag.contadores.cont_alunos_email</strong> - Sem e-mails ou CPF cadastrados <a href="javascript:lista(3)">(ver)</a>
                                        </p>
                                        <p><a href="~/Painel/Alunos" class="dashlink">Alunos</a></p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.cont_empresas</p>
                                        <p class="bg_cinza">
                                            <strong>@ViewBag.contadores.cont_empresas_ciclo</strong> - Cadastrados Diagweb sem produtos <a href="javascript:lista(5)">(ver)</a><br />
                                            <strong>@ViewBag.contadores.cont_empresas_compra</strong> - Cadastrados Diagweb com produtos <a href="javascript:lista(6)">(ver)</a><br />
                                            <strong>@(((ViewBag.contadores.cont_empresas - ViewBag.contadores.cont_empresas_ciclo) - ViewBag.contadores.cont_empresas_compra) - ViewBag.contadores.cont_empresas_email)</strong> - Não cadastrados <a href="javascript:lista(8)">(ver)</a><br />
                                            <strong>@ViewBag.contadores.cont_empresas_email</strong> - Sem e-mails ou CNPJ cadastrados <a href="javascript:lista(7)">(ver)</a>
                                        </p>
                                        <p><a href="~/Painel/Empresas" class="dashlink">Empresas</a></p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.avaliacao</p>
                                        <p class="bg_cinza">
                                            <strong>@ViewBag.contadores.cont_avaliacao_enviada</strong> - Avaliações enviadas<br />
                                            <strong>@ViewBag.contadores.cont_avaliacao_respondida</strong> - Avaliações respondidas<br />
                                        </p>
                                        <p class="dashlink">Avaliação Média</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt30">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.cont_instrutor</p>
                                        <p><a href="~/Painel/Instrutores" class="dashlink">Instrutores</a></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.cont_curso</p>
                                        <p><a href="~/Painel/Cursos" class="dashlink">Cursos</a></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.cont_temas</p>
                                        <p><a href="~/Painel/Temas" class="dashlink">Temas</a></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div>
                                        <p class="counter-count">@ViewBag.contadores.cont_locais</p>
                                        <p><a href="~/Painel/Locais" class="dashlink">Locais</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row pt15">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>CURSOS ATIVOS</h3>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="2%">&nbsp;</th>
                                <th width="50%">CURSO</th>
                                <th width="12%">INSTRUTORES</th>
                                <th width="12%">ALUNOS</th>
                                <th width="12%">VAGAS</th>
                                <th width="12%">DATAS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in ViewBag.cursos)
                            {
                                <tr>
                                    <td class="@p.txcor.Replace(" ","_")">&nbsp;</td>
                                    <td>@p.curso</td>
                                    <td>@p.instrutor</td>
                                    <td>@p.aluno</td>
                                    <td>@(p.maximo == 0 ? "-" : (p.maximo - p.aluno))</td>
                                    <td>
                                        @foreach (var d in p.datas)
                                        {
                                            @d.dtcurso<br />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</main>