@using Biblioteca.Funcoes
@{
    ViewBag.Title = "Pesquisa";
}

@{
    int min = 0;
    int max = 0;
    int pmin = 0;
    int pmax = 0;
    min = ((ViewBag.pagina - 1) * 12) + 1;
    max = ViewBag.pagina * 12;
    if (max > ViewBag.total) { max = ViewBag.total; }

    int pages = 0;
    pages = ViewBag.total / 12;
    if ((ViewBag.total % 12) > 0) { pages = (pages + 1); }
    pmin = (ViewBag.pagina - 5);
    pmax = (ViewBag.pagina + 5);
    if (pmin < 0) { pmin = 1; }
    if (pmax > pages) { pmax = pages; }

}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>PESQUISA</h1>
            </div>
            <ol class="tg-breadcrumb">
                @{ 
                    if (ViewBag.curso == "") { @Html.Raw("<li>Curso: Todos</li>"); } else { @Html.Raw("<li>Curso: " + ViewBag.curso + "</li>"); }
                    if (ViewBag.cidade == "") { @Html.Raw("<li>Cidade: Todas</li>"); } else { @Html.Raw("<li>Cidade: " + ViewBag.cidade + "</li>"); }
                    if (ViewBag.data == "") { @Html.Raw("<li>Data: Todas</li>"); } else { @Html.Raw("<li>Data: " + ViewBag.data + "</li>"); }
                }
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container pt30">
        @{
            int i = 0;
            string data = "";
        }
        @if (ViewBag.total > 0)
        {
            <div class="row">
            @foreach (var p in Model)
            {
                <div>
                    <div class="col-xs-4 div-curso" style="margin-bottom:40px;">
                        <a href="~/Curso/@(p.idcurso + "-" + Diacritics.ReplaceDiacritics(p.txcurso))">
                            <div class="div-curso-title" @(p.txfoto != "" ? " style=background-image:url(../../images/Cursos/" + p.txfoto + ") " : " style=background-image:url(../../images/banner1.png)")>
                                &nbsp;<span class="icon-share popup" url-share="http://www.treinaauto.com.br/Curso/@(p.idcurso + "-" + Diacritics.ReplaceDiacritics(p.txcurso))" title-share="@p.txcurso"></span>
                            </div>
                            <div class="gray-box">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h4><strong>@p.txcurso</strong></h4></div>
                                </div>  
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><strong>Organizador:</strong></div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">@p.txorganizador</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><strong>Categoria:</strong></div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">@p.txcategoria</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><strong>Local:</strong></div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">@p.txcidade / @p.txestado</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><strong>Data(s):</strong></div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        @if (p.datas.Count > 0)
                                        {
                                            data = "";
                                            foreach (var x in p.datas)
                                            {
                                                data = data + ", " + x.dtcurso;
                                            }
                                            @Html.Raw(data.Substring(2));
                                        }
                                        else
                                        {
                                            @: A definir
                                                        }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                i = i + 1;
                if (i % 3 == 0)
                {
                    @:</div><div class="row">
                }
            }
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (ViewBag.pagina > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="javascript:pagination(1)" aria-label="Primeira" title="Primeira">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Primeira</span>
                                </a>
                            </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:pagination(-1)" aria-label="Anterior" title="Anterior">
                                            <span aria-hidden="true">&lsaquo;</span>
                                            <span class="sr-only">Anterior</span>
                                        </a>
                                    </li>
                        }
                        @for (var x = pmin; x <= pmax; x++)
                        {
                            <li class="page-item"><a href="javascript:pagination(@x)" class="page-link @(ViewBag.pagina == x ? "pagesel" : "")" href="#">@x</a></li>
                        }
                        @if (ViewBag.pagina < pages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="javascript:pagination(0)" aria-label="Próxima" title="Próxima">
                                    <span aria-hidden="true">&rsaquo;</span>
                                    <span class="sr-only">Próxima</span>
                                </a>
                            </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:pagination(@pages)" aria-label="Última" title="Última">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Última</span>
                                        </a>
                                    </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
                <div class="row" style="padding-bottom:10px;">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
                        @if (ViewBag.total > 0)
                        {
                            @Html.Raw("Exibindo " + @min + " a " + @max + " de " + @ViewBag.total);
                        }
                        else
                        {
                            @Html.Raw("Nenhum registro encontrado");
                        }
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                        Página <input type="text" value="@ViewBag.pagina" size="2" id="page_select" maxlength="4" /> de @pages
                    </div>
                </div>
                <form action="Pesquisa" method="post" id="form_pesquisa" name="form_pesquisa">
                    <input type="hidden" id="filtro_data" name="filtro_data" value="@ViewBag.data" />
                    <input type="hidden" id="filtro_curso" name="filtro_curso" value="@ViewBag.curso" />
                    <input type="hidden" id="filtro_cidade" name="filtro_cidade" value="@ViewBag.cidade" />
                    <input type="hidden" id="pagina" name="pagina" value="@ViewBag.pagina" />
                    <input type="hidden" id="totalpage" name="totalpage" value="@pages" />
                </form>
        }
        else
        {
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <br />
                    <i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Nenhum evento encontrado
                </div>
            </div>
            <div class="row pt30 pesquisa_news">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <h3>Não encontrou o evento que estava procurando?</h3>
                    <p>Nós podemos te ajudar. Assine nossa lista de interesse que avisamos você quando um evento nesta área ficar disponível</p>
                </div>
            </div>
            <form method="post" id="news_form" name="news_form">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <input type="text" id="news_nome" name="news_nome" placeholder="Nome *" class="form-control validate[required,minSize[3],maxSize[200]]" maxlength="200" />
                    </div>
                </div>
                <div class="row pt15">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <input type="text" id="news_curso" name="news_curso" placeholder="Curso de interesse *" class="form-control validate[required,minSize[3],maxSize[200]]" maxlength="200" />
                    </div>
                </div>
                <div class="row pt15">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <input type="text" id="news_email" name="news_email" placeholder="Email *" class="form-control validate[required,minSize[3],maxSize[100],email]" maxlength="100" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <input type="text" id="news_whatsapp" name="news_whatsapp" data-mask="(00) 00000-0000" placeholder="Telefone/Whatsapp" class="form-control" />
                    </div>
                </div>
                <div class="row pt15">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <input type="text" id="news_cidade" name="news_cidade" placeholder="Cidade" class="form-control validate[maxSize[100]]" maxlength="100" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <input type="text" id="news_estado" name="news_estado" placeholder="Estado" class="form-control validate[maxSize[100]]" maxlength="100" />
                    </div>
                </div>
                <div class="row pt30">
                    <div class="col-lg-3 col-lg-offset-9 col-md-12 col-xs-12 col-sm-12 text-right">
                        <input type="button" id="news_enviar" name="news_enviar" class="tg-btn bg_azul_escuro" value="ENVIAR" />
                    </div>
                </div>
            </form>
        }
        </div>
    </div>
</main>

@section scripts {
    @Scripts.Render("~/bundles/mask")
}