@{
    ViewBag.Title = "Pesquisa";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>PESQUISA</h1>
            </div>
            <ol class="tg-breadcrumb">
                @{ 
                    if (ViewBag.curso == "") { @Html.Raw("<li>Curso: Todos</li>"); } else { @Html.Raw("<li>Curso: " + ViewBag.curso + "</li>"); }
                    if (ViewBag.cidade == "") { @Html.Raw("<li>Cidade: Todas</li>"); } else { @Html.Raw("<li>Cidade: " + ViewBag.cidade + "</li>"); }
                    if (ViewBag.data == "") { @Html.Raw("<li>Data: Todas</li>"); } else { @Html.Raw("<li>Data: " + ViewBag.data + "</li>"); }
                }
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">
            <div class="row">
                @foreach (var p in Model)
                {
                <div class="col-md-4 col-xs-12 col-sm-6 div-curso">
                    <div>
                        <a href="Curso?c=@p.idcurso"><img class="img-responsive" alt="@p.txcurso" src="~/images/banner.jpg"></a>
                        <div class="gray-box">
                            <h4><a href="Curso/@p.idcurso">@p.txcurso</a></h4>
                            <p>
                                <span><strong>Categoria:</strong> @p.txcategoria</span><br />
                                <span><strong>Local:</strong> @p.txcidade / @p.txestado</span><br />
                                <span><strong>Data:</strong> 00/00/0000 </span>
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>
        <?div>
    </div>
</main>