@{
    ViewBag.Title = "Relatórios";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>@Html.Action("Usuario", "Painel")</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="~/Painel">Dashboard</a></li>
                <li class="tg-active">Relatórios</li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">
            <form method="post" action="" id="form-modal">
                <input type="hidden" id="idorganizador" name="idorganizador" value="@Model.idorganizador" />
                <input type="hidden" id="tempinstrutor" name="tempinstrutor" value="" />
                <input type="hidden" id="temptema" name="temptema" value="" />
                <input type="hidden" id="tempcurso" name="tempcurso" value="" />
                <input type="hidden" id="tempcategoria" name="tempcategoria" value="" />
                <input type="hidden" id="tempaluno" name="tempaluno" value="" />
                <input type="hidden" id="tempcor" name="tempcor" value="" />
                <input type="hidden" id="templocal" name="templocal" value="" />
                <input type="hidden" id="tempespecialidade" name="tempespecialidade" value="" />
                <div class="row">                
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="tprelatorio">Tipo de Relatório</label>
                        <select id="tprelatorio" name="tprelatorio" class="form-control">
                            <option value="">-- Selecione --</option>
                            <option value="1">Por Alunos</option>
                            <option value="2">Por Categorias</option>
                            <option value="3">Por Cores</option>
                            <option value="4">Por Cursos</option>
                            <option value="5">Por Especialiadades</option>
                            <option value="6">Por Locais</option>
                            <option value="7">Por Instrutores</option>
                            <option value="8">Por Temas</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right"><br />
                        <button id="incluir_btn" class="tg-btn" type="button">Gerar Relatório</button>
                    </div>
                </div>
                <div class="row pt15">
                    <Center><h2>Filtros</h2></Center>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <label class="control-label" for="idinstrutor">Instrutores</label>
                        <div class="input-group">
                            <select id="idinstrutor" name="idinstrutor" class="form-control">
                                <option value="">-- Selecione --</option>
                                @foreach (var i in ViewBag.instrutores)
                                {
                                    <option value="@i.idinstrutor">@i.txinstrutor</option>
                                }
                            </select>
                            <span class="input-group-addon" onclick="add('instrutor')" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listinstrutor"></ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <label class="control-label" for="idtema">Temas</label>
                        <div class="input-group">
                            <select id="idtema" name="idtema" class="form-control">
                                <option value="">-- Selecione --</option>
                                @foreach (var t in ViewBag.temas)
                                {
                                    <option value="@t.idtema">@t.txtema</option>
                                }
                            </select>
                            <span class="input-group-addon" onclick="add('tema')" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listtema"></ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <label class="control-label" for="idespecialidade">Especialidades</label>
                        <div class="input-group">
                            <select id="idespecialidade" name="idespecialidade" class="form-control">
                                <option value="">-- Selecione --</option>
                                @foreach (var e in ViewBag.especialidades)
                                {
                                    <option value="@e.idespecialidade">@e.txespecialidade</option>
                                }
                            </select>
                            <span class="input-group-addon" onclick="add('especialidade')" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listespecialidade"></ul>
                    </div>
                </div>
                <div class="row pt15">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <label class="control-label" for="idlocal">Locais</label>
                        <div class="input-group">
                            <select id="idlocal" name="idlocal" class="form-control">
                                <option value="">-- Selecione --</option>
                                @foreach (var l in ViewBag.locais)
                                {
                                    <option value="@l.idlocal">@l.txlocal</option>
                                }
                            </select>
                            <span class="input-group-addon" onclick="add('local')" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listlocal"></ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <label class="control-label" for="idcor">Cores</label>
                        <div class="input-group">
                            <select id="idcor" name="idcor" class="form-control">
                                <option value="">-- Selecione --</option>
                                @foreach (var c in ViewBag.cores)
                                {
                                    <option class="@c.txcor.Replace(" ","_")" value="@c.idcor">@c.txcor</option>
                                }
                            </select>
                            <span class="input-group-addon" onclick="add('cor')" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listcor"></ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <label class="control-label" for="idcategoria">Categorias</label>
                        <div class="input-group">
                            <select id="idcategoria" name="idcategoria" class="form-control">
                                <option value="">-- Selecione --</option>
                                @foreach (var c in ViewBag.categorias)
                                {
                                    <option value="@c.idcategoria">@c.txcategoria</option>
                                }
                            </select>
                            <span class="input-group-addon" onclick="add('categoria')" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listcategoria"></ul>
                    </div>
                </div>
                <div class="row pt15">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <label class="control-label" for="idcurso">Cursos</label>
                        <div class="input-group">
                            <select id="idcurso" name="idcurso" class="form-control">
                                <option value="">-- Selecione --</option>
                                @*@foreach (var c in ViewBag.cursos)
                                {
                                    <option value="@c.idcurso">@c.txcurso</option>
                                }*@
                            </select>
                            <span class="input-group-addon" onclick="add('curso')" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listcurso"></ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <label class="control-label" for="idaluno">Alunos</label>
                        <div class="input-group">
                            <select id="idaluno" name="idaluno" class="form-control">
                                <option value="">-- Selecione --</option>
                                @*@foreach (var a in ViewBag.alunos)
                                {
                                    <option value="@a.idaluno">@a.txaluno</option>
                                }*@
                            </select>
                            <span class="input-group-addon" onclick="add('aluno')" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listaluno"></ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <label class="control-label" for="dtini">Período</label>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="form-control validate[minSize[10],maxSize[10],date]" id="dtini" name="dtini" value="" maxlength="10" data-mask="00/00/0000" />
                                    <span class="input-group-addon" onclick="$('#dtini').datepicker('show');" style="cursor:pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="form-control validate[minSize[10],maxSize[10],date]" id="dtfim" name="dtfim" value="" maxlength="10" data-mask="00/00/0000" />
                                    <span class="input-group-addon" onclick="$('#dtfim').datepicker('show');" style="cursor:pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt15">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label class="control-label" for="dtmes">Somente o mês</label>
                                <select id="dtmes" name="dtmes" class="form-control">
                                    <option value="">-- Todos --</option>
                                    <option value="1">Janeiro</option>
                                    <option value="2">Feveriro</option>
                                    <option value="3">Março</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Maio</option>
                                    <option value="6">Junho</option>
                                    <option value="7">Julho</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Setembro</option>
                                    <option value="10">Outubro</option>
                                    <option value="11">Novembro</option>
                                    <option value="12">Dezembro</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

@section scripts {
    @Scripts.Render("~/bundles/relatorios")
}