@{
    ViewBag.Title = "Relatórios";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>@Html.Action("Usuario", "Painel")</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="~/Painel">Dashboard</a></li>
                <li class="tg-active">Relatórios</li>
                <li><a href="~/Painel/Relatorios">Relatórios</a></li>
                @switch (Convert.ToInt32(ViewBag.form["tprelatorio"]))
                {
                    case 1: <li class="tg-active">Por Alunos</li>
                        break;

                    case 2: <li class="tg-active">Por Categorias</li>
                        break;

                    case 3: <li class="tg-active">Por Classificação (Aluno)</li>
                        break;

                    case 4: <li class="tg-active">Por Classificação (Curso)</li>
                        break;

                    case 5: <li class="tg-active">Por Cursos</li>
                        break;

                    case 6: <li class="tg-active">Por Mercados</li>
                        break;

                    case 7: <li class="tg-active">Por Locais</li>
                        break;

                    case 8: <li class="tg-active">Por Instrutores</li>
                        break;

                    case 9: <li class="tg-active">Por Temas</li>
                        break;

                    case 10: <li class="tg-active">Por Localidades (Aluno)</li>
                        break;
                }
            </ol>
        </div>
    </div>
</div>

<form method="post" action="" id="form-filtro">
    <input type="hidden" id="tempinstrutor" name="tempinstrutor" value="@ViewBag.form["tempinstrutor"]" />
    <input type="hidden" id="temptema" name="temptema" value="@ViewBag.form["temptema"]" />
    <input type="hidden" id="tempcurso" name="tempcurso" value="@ViewBag.form["tempcurso"]" />
    <input type="hidden" id="tempcategoria" name="tempcategoria" value="@ViewBag.form["tempcategoria"]" />
    <input type="hidden" id="tempaluno" name="tempaluno" value="@ViewBag.form["tempaluno"]" />
    <input type="hidden" id="tempcorcurso" name="tempcorcurso" value="@ViewBag.form["tempcorcurso"]" />
    <input type="hidden" id="tempcoraluno" name="tempcoraluno" value="@ViewBag.form["tempcoraluno"]" />
    <input type="hidden" id="templocal" name="templocal" value="@ViewBag.form["templocal"]" />
    <input type="hidden" id="tempmercado" name="tempmercado" value="@ViewBag.form["tempmercado"]" />
    <input type="hidden" id="tempempresa" name="tempempresa" value="@ViewBag.form["tempempresa"]" />
    <input type="hidden" id="templocalidade" name="templocalidade" value="@ViewBag.form["templocalidade"]" />
    <input type="hidden" id="tprelatorio" name="tprelatorio" value="@ViewBag.form["tprelatorio"]" />
    <input type="hidden" id="dtini" name="dtini" value="@ViewBag.form["dtini"]" />
    <input type="hidden" id="dtfim" name="dtfim" value="@ViewBag.form["dtfim"]" />
    <input type="hidden" id="dtmes" name="dtmes" value="@ViewBag.form["dtmes"]" />
</form>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">
            <div class="row pt-inner">
                <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 text-left">
                    <i class="fa fa-file-excel-o fa-3x" aria-hidden="true" id="exportar" style="color:#5fb536; cursor:pointer" title="Exportar para Excel"></i>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 text-left">
                    <i class="fa fa-bar-chart fa-3x" aria-hidden="true" id="grafico" style="color:#5fb536; cursor:pointer" title="Gráficos" onclick="abreGrafico(@ViewBag.form["tprelatorio"])"></i>
                </div>
                <div class="col-xs-6 col-sm-8 col-md-8 col-lg-10 text-right">
                    <a href="~/Painel/Relatorios"><button class="tg-btn" type="button">Voltar</button></a>
                </div>
            </div>
            <div class="row pt15">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 div-filtro">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong>
                                @switch (Convert.ToInt32(ViewBag.form["tprelatorio"]))
                                {
                                    case 1: <span>Relatório por Alunos</span>; break;
                                    case 2: <span>Relatório por Categorias</span>; break;
                                    case 3: <span>Relatório por Classificação (Aluno)</span>; break;
                                    case 4: <span>Relatório por Classificação (Curso)</span>; break;
                                    case 5: <span>Relatório por Cursos</span>; break;
                                    case 6: <span>Relatório por Mercados</span>; break;
                                    case 7: <span>Relatório por Locais</span>; break;
                                    case 8: <span>Relatório por Instrutores</span>; break;
                                    case 9: <span>Relatório por Temas</span>; break;
                                    case 10: <span>Relatório por Localidades (Aluno)</span>; break;
                                }
                            </strong>
                        </div>
                        @if ((@ViewBag.form["dtini"] != "") || (@ViewBag.form["dtfim"] != "") || (@ViewBag.form["dtmes"] != ""))
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @if ((ViewBag.form["dtini"] != "") && (ViewBag.form["dtfim"] != "") && (ViewBag.form["dtmes"] != ""))
                            {
                                @Html.Raw("Período: " + @ViewBag.form["dtini"] + " à " + ViewBag.form["dtfim"] + " (somente o mês de " + @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Convert.ToInt32(ViewBag.form["dtmes"])) + ")");
                            }
                            @if ((ViewBag.form["dtini"] != "") && (ViewBag.form["dtfim"] != "") && (ViewBag.form["dtmes"] == ""))
                            {
                                @Html.Raw("Período: " + @ViewBag.form["dtini"] + " à " + ViewBag.form["dtfim"]);
                            }
                            @if ((ViewBag.form["dtini"] != "") && (ViewBag.form["dtfim"] == "") && (ViewBag.form["dtmes"] != ""))
                            {
                                @Html.Raw("Período: a partir de " + @ViewBag.form["dtini"] + " (somente o mês de " + @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Convert.ToInt32(ViewBag.form["dtmes"])) + ")");
                            }
                            @if ((ViewBag.form["dtini"] == "") && (ViewBag.form["dtfim"] != "") && (ViewBag.form["dtmes"] != ""))
                            {
                                @Html.Raw("Período: até " + ViewBag.form["dtfim"] + " (somente o mês de " + @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Convert.ToInt32(ViewBag.form["dtmes"])) + ")");
                            }
                            @if ((ViewBag.form["dtini"] != "") && (ViewBag.form["dtfim"] == "") && (ViewBag.form["dtmes"] == ""))
                            {
                                @Html.Raw("Período: a partir de " + @ViewBag.form["dtini"]);
                            }
                            @if ((ViewBag.form["dtini"] == "") && (ViewBag.form["dtfim"] != "") && (ViewBag.form["dtmes"] == ""))
                            {
                                @Html.Raw("Período: até " + ViewBag.form["dtfim"]);
                            }
                            @if ((ViewBag.form["dtini"] == "") && (ViewBag.form["dtfim"] == "") && (ViewBag.form["dtmes"] != ""))
                            {
                                @Html.Raw("Período: somente o mês de " + @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Convert.ToInt32(ViewBag.form["dtmes"])));
                            }
                        </div>
                        }

                        @if (@ViewBag.form["tempinstrutor"] != "")
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @{ string result = new Biblioteca.DB.InstrutoresDB().ListarNomes(@ViewBag.form["tempinstrutor"]); }
                            Instrutores: @result
                        </div>
                        }

                        @if (@ViewBag.form["temptema"] != "")
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @{ string result = new Biblioteca.DB.TemasDB().ListarNomes(@ViewBag.form["temptema"]); }
                            Temas: @result
                        </div>
                        }

                        @if (@ViewBag.form["tempcurso"] != "")
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @{ string result = new Biblioteca.DB.CursosDB().ListarNomes(@ViewBag.form["tempcurso"]); }
                            Cursos: @result
                        </div>
                        }

                        @if (@ViewBag.form["tempcategoria"] != "")
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @{ string result = new Biblioteca.DB.CategoriasDB().ListarNomes(@ViewBag.form["tempcategoria"]); }
                            Categorias: @result
                        </div>
                        }

                        @if (@ViewBag.form["tempaluno"] != "")
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @{ string result = new Biblioteca.DB.AlunosDB().ListarNomes(@ViewBag.form["tempaluno"]); }
                            Alunos: @result
                        </div>
                        }

                        @if (@ViewBag.form["tempcorcurso"] != "")
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @{ string result = new Biblioteca.DB.CoresDB().ListarNomes(@ViewBag.form["tempcorcurso"]); }
                            Classificação (Cursos): @result
                        </div>
                        }

                        @if (@ViewBag.form["tempcoraluno"] != "")
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @{ string result = new Biblioteca.DB.CoresDB().ListarNomes(@ViewBag.form["tempcoraluno"]); }
                            Classificação (Alunos): @result
                        </div>
                        }

                        @if (@ViewBag.form["templocal"] != "")
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @{ string result = new Biblioteca.DB.LocaisDB().ListarNomes(@ViewBag.form["templocal"]); }
                            Locais: @result
                        </div>
                        }

                        @if (@ViewBag.form["tempmercado"] != "")
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @{ string result = new Biblioteca.DB.MercadosDB().ListarNomes(@ViewBag.form["tempmercado"]); }
                            Mercados: @result
                        </div>
                        }

                        @if (@ViewBag.form["tempempresa"] != "")
                        {
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @{ string result = new Biblioteca.DB.EmpresasDB().ListarNomes(@ViewBag.form["tempempresa"]); }
                            Empresas: @result
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div id="div_grafico" style="width:100%; height:600px;" class="hide pt15"></div>
            <div class="row pt">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="table2excel" style="overflow:auto;">

                    @{
                        string temp = "";
                        int cont = 0;
                        switch (Convert.ToInt32(ViewBag.form["tprelatorio"]))
                        {
                            // Alunos
                            case 1:

                                <table class="table table-bordered table-hover table-responsive table-relat">
                                    <thead>
                                        <tr>
                                            <th bgcolor="#ECECEC" width='1%'>&nbsp;</th>
                                            <th bgcolor="#ECECEC">ALUNO</th>
                                            <th bgcolor="#ECECEC">EMPRESA</th>
                                            <th bgcolor="#ECECEC">MERCADOS</th>
                                            <th bgcolor="#ECECEC">CIDADE/ESTADO</th>
                                            <th bgcolor="#ECECEC">E-MAILS</th>
                                            <th bgcolor="#ECECEC">TELEFONES</th>
                                            <th bgcolor="#ECECEC" width='1%'>&nbsp;</th>
                                            <th bgcolor="#ECECEC">CURSO</th>
                                            <th bgcolor="#ECECEC">IDENTIFICADOR</th>
                                            <th bgcolor="#ECECEC">CATEGORIA</th>
                                            <th bgcolor="#ECECEC">TEMA</th>
                                            <th bgcolor="#ECECEC">LOCAL</th>
                                            <th bgcolor="#ECECEC">INSTRUTOR</th>
                                            <th bgcolor="#ECECEC">AVALIAÇÃO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var p in Model)
                                        {
                                            <tr>
                                                <td class="@p.coraluno.Replace(" ","_")">&nbsp;</td>
                                                <td>@p.aluno</td>
                                                <td>@p.empresa</td>
                                                <td>@p.mercados</td>
                                                <td>@p.cidadealuno / @p.estadoaluno</td>
                                                <td>@p.emails</td>
                                                <td>@p.telefones</td>
                                                <td class="@p.corcurso.Replace(" ","_")">&nbsp;</td>
                                                <td>@p.curso</td>
                                                <td>@p.identificador</td>
                                                <td>@p.categoria</td>
                                                <td>@p.tema</td>
                                                <td>@p.local</td>
                                                <td>@p.instrutor</td>
                                                <td>@(p.avaliacao == 0 ? "N/A" : (Convert.ToDouble(p.avaliacao) / 5).ToString("N1"))</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                break;

                            // Categorias
                            case 2:

                                @: <table class="table table-bordered table-hover table-responsive table-relat">
                                foreach (var p in Model)
                                {
                                    if (p.categoria != temp)
                                    {
                                        temp = p.categoria;

                                        if (cont > 0)
                                        {
                                            @:  <tr>
                                            @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                            @:  </tr>
                                            @: </tbody>
                                            @: </table>
                                            @: <table class="table table-bordered table-hover table-responsive table-relat">
                                            cont = 0;
                                        }

                                        @: <thead>
                                        @:     <tr>
                                        @:         <th bgcolor="#DDDDDD" colspan="6">CATEGORIA: @p.categoria</th>
                                        @:     </tr>
                                        @:     <tr>
                                        @:         <th bgcolor="#ECECEC" width='1%'>&nbsp;</th>
                                        @:         <th bgcolor="#ECECEC" width='34%'>CURSO</th>
                                        @:         <th bgcolor="#ECECEC" width='15%'>IDENTIFICADOR</th>
                                        @:         <th bgcolor="#ECECEC" width='20%'>LOCAL</th>        
                                        @:         <th bgcolor="#ECECEC" width='20%'>TEMA</th>
                                        @:         <th bgcolor="#ECECEC" width='10%'>Nº ALUNOS</th>
                                        @:     </tr>
                                        @: </thead>
                                        @: <tbody>
                                    }
                                    
                                    @: <tr>
                                    @:     <td class="@p.corcurso">&nbsp;</td>                                        
                                    @:     <td>@p.curso</td>
                                    @:     <td>@p.identificador</td>
                                    @:     <td>@p.local</td>
                                    @:     <td>@p.tema</td>
                                    @:     <td>@p.qtaluno</td>
                                    @: </tr>
                                    
                                    cont = cont + 1;
                                }
                                @:  <tr>
                                @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                @:  </tr>
                                @: </tbody>
                                @: </table>

                            break;

                            // Classificação do Aluno
                            case 3:

                                @: <table class="table table-bordered table-hover table-responsive table-relat">
                                foreach (var p in Model)
                                {
                                    if (p.coraluno != temp)
                                    {
                                        temp = p.coraluno;

                                        if (cont > 0)
                                        {
                                            @:  <tr>
                                            @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                            @:  </tr>
                                            @: </tbody>
                                            @: </table>
                                            @: <table class="table table-bordered table-hover table-responsive table-relat">
                                            cont = 0;
                                        }

                                        @: <thead>
                                        @:     <tr>
                                        @:         <th class="@p.coraluno.Replace(" ","_")" colspan="6">CLASSIFICAÇÃO: @p.coraluno</th>
                                        @:     </tr>
                                        @:     <tr>
                                        @:         <th bgcolor="#ECECEC" width="20%">ALUNO</th>
                                        @:         <th bgcolor="#ECECEC" width="20%">EMPRESA</th>
                                        @:         <th bgcolor="#ECECEC" width="15%">MERCADOS</th>
                                        @:         <th bgcolor="#ECECEC" width="15%">CIDADE / ESTADO</th>        
                                        @:         <th bgcolor="#ECECEC" width="15%">E-MAILS</th>
                                        @:         <th bgcolor="#ECECEC" width="15%">TELEFONES</th>
                                        @:     </tr>
                                        @: </thead>
                                        @: <tbody>
                                    }
                                    
                                    @: <tr>
                                    @:     <td>@p.aluno</td>
                                    @:     <td>@p.empresa</td>
                                    @:     <td>@p.mercados</td>
                                    @:     <td>@p.cidadealuno / @p.estadoaluno</td>
                                    @:     <td>@p.emails</td>
                                    @:     <td>@p.telefones</td>
                                    @: </tr>
                                    
                                    cont = cont + 1;
                                }
                                @:  <tr>
                                @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                @:  </tr>
                                @: </tbody>
                                @: </table>

                                break;

                            // Classificação do Curso
                            case 4:

                                @: <table class="table table-bordered table-hover table-responsive table-relat">
                                foreach (var p in Model)
                                {
                                    if (p.corcurso != temp)
                                    {
                                        temp = p.corcurso;

                                        if (cont > 0)
                                        {
                                            @:  <tr>
                                            @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                            @:  </tr>
                                            @: </tbody>
                                            @: </table>
                                            @: <table class="table table-bordered table-hover table-responsive table-relat">
                                            cont = 0;
                                        }

                                        @: <thead>
                                        @:     <tr>
                                        @:         <th class="@p.corcurso.Replace(" ","_")" colspan="6">CLASSIFICAÇÃO: @p.corcurso</th>
                                        @:     </tr>
                                        @:     <tr>
                                        @:         <th bgcolor="#ECECEC" width='29%'>CURSO</th>
                                        @:         <th bgcolor="#ECECEC" width='15%'>IDENTIFICADOR</th>
                                        @:         <th bgcolor="#ECECEC" width='15%'>TEMA</th>
                                        @:         <th bgcolor="#ECECEC" width='15%'>LOCAL</th>        
                                        @:         <th bgcolor="#ECECEC" width='15%'>CATEGORIA</th>
                                        @:         <th bgcolor="#ECECEC" width='10%'>Nº ALUNOS</th>
                                        @:     </tr>
                                        @: </thead>
                                        @: <tbody>
                                    }
                                    
                                    @: <tr>
                                    @:     <td>@p.curso</td>
                                    @:     <td>@p.identificador</td>
                                    @:     <td>@p.tema</td>
                                    @:     <td>@p.local</td>
                                    @:     <td>@p.categoria</td>
                                    @:     <td>@p.qtaluno</td>
                                    @: </tr>
                                    
                                    cont = cont + 1;
                                }
                                @:  <tr>
                                @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                @:  </tr>
                                @: </tbody>
                                @: </table>

                                break;

                            // Cursos
                            case 5:

                                @: <table class="table table-bordered table-hover table-responsive table-relat">
                                foreach (var p in Model)
                                {
                                    if (p.curso != temp)
                                    {
                                        temp = p.curso;

                                        if (cont > 0)
                                        {
                                            @:  <tr>
                                            @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                            @:  </tr>
                                            @: </tbody>
                                            @: </table>
                                            @: <table class="table table-bordered table-hover table-responsive table-relat">
                                            cont = 0;
                                        }

                                        @: <thead>
                                        @:     <tr>
                                        @:         <th bgcolor="#DDDDDD" colspan="6">CURSO: @p.curso</th>
                                        @:     </tr>
                                        @:     <tr>
                                        @:         <th colspan="6" style="padding:5px !important;">
                                        @:            <table class="table table-bordered table-hover table-responsive table-relat" style="margin: 0px !important;">
                                        @:                <thead>
                                        @:                  <tr>
                                        @:                      <th bgcolor="#ECECEC" width='1%'>&nbsp;</th>
                                        @:                      <th bgcolor="#ECECEC" width='15%'>IDENTIFICADOR</th>
                                        @:                      <th bgcolor="#ECECEC" width='18%'>LOCAL</th>
                                        @:                      <th bgcolor="#ECECEC" width='20%'>CIDADE / ESTADO</th>        
                                        @:                      <th bgcolor="#ECECEC" width='18%'>CATEGORIA</th>
                                        @:                      <th bgcolor="#ECECEC" width='18%'>TEMA</th>
                                        @:                      <th bgcolor="#ECECEC" width='10%'>AVALIAÇÃO</th>
                                        @:                  </tr>
                                        @:                </thead>
                                        @:                <tbody>
                                        @:                  <tr>
                                        @:                      <td class="@p.corcurso">&nbsp;</td>                                        
                                        @:                      <td>@p.identificador</td>
                                        @:                      <td>@p.local</td>
                                        @:                      <td>@p.cidadecurso / @p.estadocurso</td>
                                        @:                      <td>@p.categoria</td>
                                        @:                      <td>@p.tema</td>
                                        @:                      <td>@p.avaliacaogeral.ToString("N1")</td>
                                        @:                  </tr>
                                        @:                </tbody>
                                        @:            </table>
                                        @:         </th>
                                        @:     </tr>
                                        @:     <tr>
                                        @:         <th bgcolor="#ECECEC" width='1%'>&nbsp;</th>
                                        @:         <th bgcolor="#ECECEC" width='30%'>ALUNO</th>
                                        @:         <th bgcolor="#ECECEC" width='24%'>EMPRESA</th>
                                        @:         <th bgcolor="#ECECEC" width='15%'>MERCADOS</th>        
                                        @:         <th bgcolor="#ECECEC" width='20%'>CIDADE / ESTADO</th>
                                        @:         <th bgcolor="#ECECEC" width='10%'>AVALIAÇÃO</th>
                                        @:     </tr>
                                        @: </thead>
                                        @: <tbody>
                                    }
                                    
                                    @: <tr>
                                    @:     <td class="@p.coraluno">&nbsp;</td>                                        
                                    @:     <td>@p.aluno</td>
                                    @:     <td>@p.empresa</td>
                                    @:     <td>@p.mercados</td>
                                    @:     <td>@p.cidadealuno / @p.estadoaluno</td>
                                    @:     <td>@(p.avaliacao == 0 ? "N/A" : (Convert.ToDouble(p.avaliacao) / 5).ToString("N1"))</td>
                                    @: </tr>
                                    
                                    cont = cont + 1;
                                }
                                @:  <tr>
                                @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                @:  </tr>
                                @: </tbody>
                                @: </table>

                            break;

                            // Mercados
                            case 6:

                                @: <table class="table table-bordered table-hover table-responsive table-relat">
                                foreach (var p in Model)
                                {
                                    if (p.mercados != temp)
                                    {
                                        temp = p.mercados;

                                        if (cont > 0)
                                        {
                                            @:  <tr>
                                            @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                            @:  </tr>
                                            @: </tbody>
                                            @: </table>
                                            @: <table class="table table-bordered table-hover table-responsive table-relat">
                                            cont = 0;
                                        }

                                        @: <thead>
                                        @:     <tr>
                                        @:         <th bgcolor="#DDDDDD" colspan="6">MERCADO: @p.mercados</th>
                                        @:     </tr>
                                        @:     <tr>
                                        @:         <th bgcolor="#ECECEC" width="1%">&nbsp;</th>
                                        @:         <th bgcolor="#ECECEC" width="20%">ALUNO</th>
                                        @:         <th bgcolor="#ECECEC" width="20%">EMPRESA</th>
                                        @:         <th bgcolor="#ECECEC" width="20%">CIDADE / ESTADO</th>        
                                        @:         <th bgcolor="#ECECEC" width="20%">E-MAILS</th>
                                        @:         <th bgcolor="#ECECEC" width="19%">TELEFONES</th>
                                        @:     </tr>
                                        @: </thead>
                                        @: <tbody>
                                    }
                                    
                                    @: <tr>
                                    @:     <td class="@p.coraluno">&nbsp;</td>                                        
                                    @:     <td>@p.aluno</td>
                                    @:     <td>@p.empresa</td>
                                    @:     <td>@p.cidadealuno / @p.estadoaluno</td>
                                    @:     <td>@p.emails</td>
                                    @:     <td>@p.telefones</td>
                                    @: </tr>
                                    
                                    cont = cont + 1;
                                }
                                @:  <tr>
                                @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                @:  </tr>
                                @: </tbody>
                                @: </table>

                                break;

                            // Locais
                            case 7:

                                @: <table class="table table-bordered table-hover table-responsive table-relat">
                                foreach (var p in Model)
                                {
                                    if (p.local != temp)
                                    {
                                        temp = p.local;

                                        if (cont > 0)
                                        {
                                            @:  <tr>
                                            @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                            @:  </tr>
                                            @: </tbody>
                                            @: </table>
                                            @: <table class="table table-bordered table-hover table-responsive table-relat">
                                            cont = 0;
                                        }

                                        @: <thead>
                                        @:     <tr>
                                        @:         <th bgcolor="#DDDDDD" colspan="6">LOCAL: @p.local</th>
                                        @:     </tr>
                                        @:     <tr>
                                        @:         <th bgcolor="#ECECEC" width='1%'>&nbsp;</th>
                                        @:         <th bgcolor="#ECECEC" width='34%'>CURSO</th>
                                        @:         <th bgcolor="#ECECEC" width='15%'>IDENTIFICADOR</th>
                                        @:         <th bgcolor="#ECECEC" width='20%'>TEMA</th>        
                                        @:         <th bgcolor="#ECECEC" width='20%'>CATEGORIA</th>
                                        @:         <th bgcolor="#ECECEC" width='10%'>Nº ALUNOS</th>
                                        @:     </tr>
                                        @: </thead>
                                        @: <tbody>
                                    }
                                    
                                    @: <tr>
                                    @:     <td class="@p.corcurso">&nbsp;</td>                                        
                                    @:     <td>@p.curso</td>
                                    @:     <td>@p.identificador</td>
                                    @:     <td>@p.tema</td>
                                    @:     <td>@p.categoria</td>
                                    @:     <td>@p.qtaluno</td>
                                    @: </tr>
                                    
                                    cont = cont + 1;
                                }
                                @:  <tr>
                                @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                @:  </tr>
                                @: </tbody>
                                @: </table>

                            break;

                            // Instrutores
                            case 8:

                                @: <table class="table table-bordered table-hover table-responsive table-relat">
                                foreach (var p in Model)
                                {
                                    if (p.instrutor != temp)
                                    {
                                        temp = p.instrutor;

                                        if (cont > 0)
                                        {
                                            @:  <tr>
                                            @:      <td style="text-align:right !important" colspan="7">TOTAL: @cont</td>
                                            @:  </tr>
                                            @: </tbody>
                                            @: </table>
                                            @: <table class="table table-bordered table-hover table-responsive table-relat">
                                            cont = 0;
                                        }

                                        @: <thead>
                                        @:     <tr>
                                        @:         <th bgcolor="#DDDDDD" colspan="7">INSTRUTOR: @p.instrutor</th>
                                        @:     </tr>
                                        @:     <tr>
                                        @:         <th colspan="7" style="padding:5px !important;">
                                        @:            <table class="table table-bordered table-hover table-responsive table-relat" style="margin: 0px !important;">
                                        @:                <thead>
                                        @:                  <tr>
                                        @:                      <th bgcolor="#ECECEC" width='50%'>E-MAILS</th>
                                        @:                      <th bgcolor="#ECECEC" width='50%'>TELEFONE</th>
                                        @:                  </tr>
                                        @:                </thead>
                                        @:                <tbody>
                                        @:                  <tr>
                                        @:                      <td>@p.emails</td>
                                        @:                      <td>@p.telefones</td>
                                        @:                  </tr>
                                        @:                </tbody>
                                        @:            </table>
                                        @:         </th>
                                        @:     </tr>
                                        @:         <th bgcolor="#ECECEC" width='1%'>&nbsp;</th>
                                        @:         <th bgcolor="#ECECEC" width='30%'>CURSO</th>
                                        @:         <th bgcolor="#ECECEC" width='15%'>IDENTIFICADOR</th>
                                        @:         <th bgcolor="#ECECEC" width='17%'>LOCAL</th>        
                                        @:         <th bgcolor="#ECECEC" width='17%'>CATEGORIA</th>
                                        @:         <th bgcolor="#ECECEC" width='10%'>Nº ALUNOS</th>
                                        @:         <th bgcolor="#ECECEC" width='10%'>AVALIAÇÃO</th>
                                        @:     </tr>
                                        @: </thead>
                                        @: <tbody>
                                    }
                                    
                                    @: <tr>
                                    @:     <td class="@p.corcurso">&nbsp;</td>                                        
                                    @:     <td>@p.curso</td>
                                    @:     <td>@p.identificador</td>
                                    @:     <td>@p.local</td>
                                    @:     <td>@p.categoria</td>
                                    @:     <td>@p.qtaluno</td>
                                    @:     <td>@p.avaliacao.ToString("N1")</td>
                                    @: </tr>
                                    
                                    cont = cont + 1;
                                }
                                @:  <tr>
                                @:      <td style="text-align:right !important" colspan="7">TOTAL: @cont</td>
                                @:  </tr>
                                @: </tbody>
                                @: </table>

                            break;

                            // Tema
                            case 9:

                                @: <table class="table table-bordered table-hover table-responsive table-relat">
                                foreach (var p in Model)
                                {
                                    if (p.tema != temp)
                                    {
                                        temp = p.tema;

                                        if (cont > 0)
                                        {
                                            @:  <tr>
                                            @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                            @:  </tr>
                                            @: </tbody>
                                            @: </table>
                                            @: <table class="table table-bordered table-hover table-responsive table-relat">
                                            cont = 0;
                                        }

                                        @: <thead>
                                        @:     <tr>
                                        @:         <th bgcolor="#DDDDDD" colspan="6">TEMA: @p.tema</th>
                                        @:     </tr>
                                        @:     <tr>
                                        @:         <th bgcolor="#ECECEC" width='1%'>&nbsp;</th>
                                        @:         <th bgcolor="#ECECEC" width='34%'>CURSO</th>
                                        @:         <th bgcolor="#ECECEC" width='15%'>IDENTIFICADOR</th>
                                        @:         <th bgcolor="#ECECEC" width='20%'>LOCAL</th>        
                                        @:         <th bgcolor="#ECECEC" width='20%'>CATEGORIA</th>
                                        @:         <th bgcolor="#ECECEC" width='10%'>Nº ALUNOS</th>
                                        @:     </tr>
                                        @: </thead>
                                        @: <tbody>
                                    }
                                    
                                    @: <tr>
                                    @:     <td class="@p.corcurso">&nbsp;</td>                                        
                                    @:     <td>@p.curso</td>
                                    @:     <td>@p.identificador</td>
                                    @:     <td>@p.local</td>
                                    @:     <td>@p.categoria</td>
                                    @:     <td>@p.qtaluno</td>
                                    @: </tr>
                                    
                                    cont = cont + 1;
                                }
                                @:  <tr>
                                @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                @:  </tr>
                                @: </tbody>
                                @: </table>

                            break;

                            // Localidade do Aluno
                            case 10:

                                @: <table class="table table-bordered table-hover table-responsive table-relat">
                                foreach (var p in Model)
                                {
                                    if (p.cidadealuno != temp)
                                    {
                                        temp = p.cidadealuno;

                                        if (cont > 0)
                                        {
                                            @:  <tr>
                                            @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                            @:  </tr>
                                            @: </tbody>
                                            @: </table>
                                            @: <table class="table table-bordered table-hover table-responsive table-relat">
                                            cont = 0;
                                        }

                                        @: <thead>
                                        @:     <tr>
                                        @:         <th colspan="6">LOCALIDADE ALUNO: @p.cidadealuno.ToUpper()</th>
                                        @:     </tr>
                                        @:     <tr>
                                        @:         <th bgcolor="#ECECEC" width="20%">ALUNO</th>
                                        @:         <th bgcolor="#ECECEC" width="20%">EMPRESA</th>
                                        @:         <th bgcolor="#ECECEC" width="16%">MERCADOS</th>
                                        @:         <th bgcolor="#ECECEC" width="4%">CLASSIFICAÇÃO</th>        
                                        @:         <th bgcolor="#ECECEC" width="20%">E-MAILS</th>
                                        @:         <th bgcolor="#ECECEC" width="20%">TELEFONES</th>
                                        @:     </tr>
                                        @: </thead>
                                        @: <tbody>
                                    }
                                    
                                    @: <tr>
                                    @:     <td>@p.aluno</td>
                                    @:     <td>@p.empresa</td>
                                    @:     <td>@p.mercados</td>
                                    @:     <td>@p.coraluno</td>
                                    @:     <td>@p.emails</td>
                                    @:     <td>@p.telefones</td>
                                    @: </tr>
                                    
                                    cont = cont + 1;
                                }
                                @:  <tr>
                                @:      <td style="text-align:right !important" colspan="6">TOTAL: @cont</td>
                                @:  </tr>
                                @: </tbody>
                                @: </table>

                                break;
                            }
                        }
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {
    @Scripts.Render("~/bundles/table2excel")
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/relatorios")
}

