@model Ciclo.Areas.Aluno.Models.NotificacoesView

@{
    ViewBag.Title = "Notificações";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="tg-innerbannercontent">
                    <div class="tg-pagetitle">
                        <h1>@Html.Action("Usuario", "Aluno")</h1>
                    </div>
                    <ol class="tg-breadcrumb">
                        <li><a href="~/Aluno">Painel</a></li>
                        <li class="tg-active">Meus Interesses</li>
                    </ol>
                </div>
            </div>
            <h1>@Html.Action("Trilha", "Aluno")</h1>
        </div>
    </div>
</div>

@{
    string locais = "";
    string[] especialidades = {};
    string[] categorias = {};
    if (Model.usuario != null) { locais = Model.usuario.idlocalidade; }
    if ((Model.usuario != null) && (Model.usuario.idespecialidade != "")) { especialidades = Model.usuario.idespecialidade.Split(','); }
    if ((Model.usuario != null) && (Model.usuario.idcategoria != "")) { categorias = Model.usuario.idcategoria.Split(','); }

}

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">

            <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2 hidden-xs bg-menu">
                    @Html.Action("Menu", "Aluno")
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 pt-inner">
                    <h4 class="font-azul">Que tipo de evento você está interessado?</h4>
                    <form method="post" action="" id="form-modal">
                        <input type="hidden" id="templocalidade" name="templocalidade" value="@locais" />
                        <div class="row pt30">
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <label class="control-label" for="idcategoria"><b>Categorias</b></label>
                                @foreach (var c in Model.categorias)
                                {
                                    @: <input type="checkbox" id="idcategoria" name="idcategoria" 
                                    foreach (string x in categorias)
                                    {
                                        if (Convert.ToInt32(x) == c.idcategoria)
                                        {
                                            @: checked
                                        }
                                    }
                                    @: value ="@c.idcategoria"> @c.txcategoria<br />
                                }
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9>
                                <label class="control-label" for="idespecialidade"><b>Áreas de Interesse</b></label>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        @{
                                            int cont = 0;
                                            foreach (var e in Model.especialidades)
                                            {
                                                @: <input type="checkbox" id="idespecialidade" name="idespecialidade" 
                                                foreach (string x in especialidades)
                                                {
                                                    if (Convert.ToInt32(x) == e.idespecialidade)
                                                    {
                                                        @: checked
                                                    }
                                                }
                                                @: value ="@e.idespecialidade"> @e.txespecialidade<br />
                                                cont = cont + 1;
                                                if (cont == (Model.especialidades.Count / 2))
                                                {
                                                   @: </div>
                                                   @: <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt15">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label class="control-label" for="idpais"><b>Localidade do Curso</b></label>
                                <div class="input-group">
                                    <table class="no-margin no-border no-label">
                                        <tr>
                                            <td width="33.33333%">
                                                <select id="idpais" name="idpais" class="form-control" onchange="MudaPais(this.value)">
                                                    <option value="">-- Selecione --</option>
                                                    @foreach (var p in Model.paises)
                                                    {
                                                        <option value="@p.idpais">@p.txpais</option>
                                                    }
                                                </select>
                                            </td>
                                            <td width="33.33333%" id="dv_estado">
                                                <select id="idestado" name="idestado" class="form-control">
                                                    <option value="">-- Selecione o país --</option>
                                                </select>
                                            </td>
                                            <td width="33.33333%" id="dv_cidade">
                                                <select id="idcidade" name="idcidade" class="form-control">
                                                    <option value="">-- Selecione o estado --</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                    <span class="input-group-addon" onclick="addLocalidade()" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                                </div>
                                <ul class="list-itens" id="listlocalidade">@Html.Raw(Model.localidades)</ul>
                            </div>
                        </div>
                        <div class="row pt30 text-center">
                            <button id="incluir_btn_gravar" class="tg-btn text-center" type="button">Gravar</button>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>


@section scripts {
    @Scripts.Render("~/bundles/notificacoes")
}