@model Ciclo.Areas.Aluno.Models.NotificacoesView

@{
    ViewBag.Title = "Notificações";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>@Html.Action("Usuario", "Aluno")</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="~/Aluno">Dashboard</a></li>
                <li class="tg-active">Notificações</li>
            </ol>
        </div>
    </div>
</div>

@{
    string especialidades = "";
    string list_especialidades = "";

    int i = 0;
    if (Model.notificacao.especialidades != null)
    {
        if (Model.notificacao.especialidades.Count > 0)
        {
            foreach (var item in Model.notificacao.especialidades)
            {
                especialidades = especialidades + "," + item.idespecialidade + "|" + item.txespecialidade;
                list_especialidades = list_especialidades + "<li><i class='glyphicon glyphicon-trash' onclick='remove('especialidade', " + i + ")'></i><span>" + item.txespecialidade + "</span></li>";
                i++;
            }
            especialidades = especialidades.Substring(1);
        }
    }

}

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">
            <form method="post" action="" id="form-modal">
                <input type="hidden" id="tempcategoria" name="tempcategoria" value="" />
                <input type="hidden" id="templocalidade" name="templocalidade" value="" />
                <input type="hidden" id="tempespecialidade" name="tempespecialidade" value="@especialidades" />
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Selecione abaixo os tipos de cursos que você deseja ser notificado, e assim que um novo curso for aberto, enviaremos um e-mail informando.
                    </div>
                </div>
                <div class="row pt30">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="idcategoria">Categorias</label>
                        <div class="input-group">
                            <select id="idcategoria" name="idcategoria" class="form-control">
                                <option value="">-- Selecione --</option>
                                @foreach (var c in Model.categorias)
                                {
                                    <option value="@c.idcategoria">@c.txcategoria</option>
                                }
                            </select>
                            <span class="input-group-addon" onclick="add('categoria')" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listcategoria"></ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="control-label" for="idespecialidade">Especialidades</label>
                        <div class="input-group">
                            <select id="idespecialidade" name="idespecialidade" class="form-control">
                                <option value="">-- Selecione --</option>
                                @foreach (var e in Model.especialidades)
                                {
                                    <option value="@e.idespecialidade">@e.txespecialidade</option>
                                }
                            </select>
                            <span class="input-group-addon" onclick="add('especialidade')" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listespecialidade">@Html.Raw(list_especialidades)</ul>
                    </div>
                </div>
                <div class="row pt15">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label class="control-label" for="idpais">Localidade do Curso</label>
                        <div class="input-group">
                            <table class="no-margin no-border no-label">
                                <tr>
                                    <td width="33.33333%">
                                        <select id="idpais" name="idpais" class="form-control" onchange="MudaPais(this.value)">
                                            <option value="">-- Selecione --</option>
                                            @foreach (var p in Model.paises)
                                            {
                                                <option value="@p.idpais">@p.txpais</option>
                                            }
                                        </select>
                                    </td>
                                    <td width="33.33333%" id="dv_estado">
                                        <select id="idestado" name="idestado" class="form-control">
                                            <option value="">-- Selecione o país --</option>
                                        </select>
                                    </td>
                                    <td width="33.33333%" id="dv_cidade">
                                        <select id="idcidade" name="idcidade" class="form-control">
                                            <option value="">-- Selecione o estado --</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <span class="input-group-addon" onclick="addLocalidade()" style="cursor:pointer"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>
                        <ul class="list-itens" id="listlocalidade"></ul>
                    </div>
                </div>
                <div class="row pt30 text-center">
                    <button id="incluir_btn_gravar" class="tg-btn text-center" type="button">Gravar</button>
                </div>
            </form>
        </div>
    </div>
</main>


@section scripts {
    @Scripts.Render("~/bundles/notificacoes")
}