@model Biblioteca.Entidades.Certificados

<div class="panel panel-default">
    <div class="panel-heading modal-head">
        <h4 class="panel-title nopad">
            @if (Model.idcertificado == 0)
            {
                @: Incluir
            }
            else
            {
                @: Editar
            }
            - Eventos que já fiz
        </h4>
    </div>

    <div class="panel-body">
        <form method="post" action="" id="form-modal_certificado">
            <input type="hidden" id="idcertificado" name="idcertificado" value="@Model.idcertificado" />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 form-group">
                    <label class="control-label" for="dtinicio">Data Início *</label>
                    <div class="input-group">
                        <input type="text" class="form-control validate[required,minSize[10],maxSize[10],date]" id="dtinicio" name="dtinicio" value="@Model.dtinicio" maxlength="10" data-mask="00/00/0000" />
                        <span class="input-group-addon" onclick="$('#dtinicio').datepicker('show');" style="cursor:pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <label class="control-label" for="dtfim">Data Término *</label>
                    <div class="input-group">
                        <input type="text" class="form-control validate[required,minSize[10],maxSize[10],date]" id="dtfim" name="dtfim" value="@Model.dtfim" maxlength="10" data-mask="00/00/0000" />
                        <span class="input-group-addon" onclick="$('#dtfim').datepicker('show');" style="cursor:pointer"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <div>
                        <label class="control-label" for="txcertificadora">Certificadora *</label>
                        <input type="text" class="form-control validate[required,minSize[2],maxSize[300]]" id="txcertificadora" name="txcertificadora" value="@Model.txcertificadora" maxlength="300" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <div>
                        <label class="control-label" for="txcurso">Evento *</label>
                        <input type="text" class="form-control validate[required, minSize[2],maxSize[300]]" id="txcurso" name="txcurso" value="@Model.txcurso" maxlength="300" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <div>
                        <label class="control-label" for="txinstrutor">Instrutor *</label>
                        <input type="text" class="form-control validate[required, minSize[2],maxSize[100]]" id="txinstrutor" name="txinstrutor" value="@Model.txinstrutor" maxlength="100" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                    <div>
                        <label class="control-label" for="nrnota">Nota *</label>
                        <input type="text" class="form-control validate[required, minSize[1],maxSize[2]]" id="nrnota" name="nrnota" value="@Model.nrnota" maxlength="2" data-mask="00" style="width:100px;" />
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button id="incluir_btn_certificado" class="tg-btn text-center" type="button">Enviar</button>
            </div>
        </form>
    </div>

</div>

@Scripts.Render("~/bundles/certificados")
@Scripts.Render("~/bundles/mask")
