@model Biblioteca.Entidades.Temas

<div class="panel panel-default">
    <div class="panel-heading modal-head">
        <h4 class="panel-title nopad">
            @if (Model.idtema == 0)
            {
                @: Incluir
            }
            else
            {
                @: Editar
            }
            - Temas
        </h4>
    </div>

    <div class="panel-body">
        <form method="post" action="" id="form-modal">
            <input type="hidden" id="idtema" name="idtema" value="@Model.idtema" />
            <div class="form-group">
                <label class="control-label" for="txtema">Tema *</label>
                <input type="text" class="form-control validate[required,minSize[3],maxSize[300]]" id="txtema" name="txtema" value="@Model.txtema" maxlength="300" />
            </div>
            <div class="form-group">
                <label class="control-label" for="txsubtitulo">Subtítulo</label>
                <input type="text" class="form-control validate[minSize[3],maxSize[200]]" id="txsubtitulo" name="txsubtitulo" value="@Model.txsubtitulo" maxlength="300" />
            </div>            
            <div class="form-group">
                <label class="control-label" for="txdescritivo">Descrição</label>
                <textarea name="txdescritivo" class="form-control" id="txdescritivo" placeholder="Descrição">@Model.txdescritivo</textarea>
            </div>
            <div class="text-center">
                <button id="incluir_btn" class="tg-btn text-center" type="button">Enviar</button>
            </div>
        </form>
    </div>

</div>

@Scripts.Render("~/bundles/temas")
