@{
    ViewBag.Title = "Sou instrutor";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>SOU INSTRUTOR / ORGANIZADOR</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="#">Home</a></li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout aluno">
    <div class="tg-sectionspace">
        <div class="container pt30">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center" style="border-right:1px dotted #cccccc">
                    <form id="form_cadastro_organizador">
                        <input type="hidden" id="curso" name="curso" value="@ViewBag.curso" />
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header">
                                QUERO ME CADASTRAR
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="text" name="txorganizador" id="txorganizador" class="form-control validate[required,minSize[3],maxSize[200]]" placeholder="Organizador *" maxlength="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="text" name="txemail" id="txemail" class="form-control validate[required,minSize[3],maxSize[200],email]" placeholder="E-mail *" maxlength="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="password" name="txsenha" id="txsenha" class="form-control validate[required,minSize[3],maxSize[20],equals[txconfsenha]]" placeholder="Senha *" maxlength="20">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mtt">
                                <input type="password" name="txconfsenha" id="txconfsenha" class="form-control validate[required,minSize[3],maxSize[20],equals[txsenha]]" placeholder="Confirmar Senha *" maxlength="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" name="txtelefone" id="txtelefone" class="form-control validate[required,minSize[3],maxSize[100]]" placeholder="Telefone *" maxlength="100">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <textarea name="txdescritivo" class="form-control" id="txdescritivo" placeholder="Descrição"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                                <input type="checkbox" name="flinstrutor" id="flinstrutor" value="1">&nbsp;&nbsp;O organizador também é o instrutor?
                            </div>
                        </div>
                        <div class="row pt30">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <button class="tg-btn" type="button" id="btn_cadastro_organizador">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                    <form id="form_login_organizador">
                        <input type="hidden" id="idcurso" name="idcurso" value="@ViewBag.curso" />
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header">
                                JÁ TENHO CONTA
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="text" name="txemailorganizador" id="txemailorganizador" class="form-control validate[required,minSize[3],maxSize[200]email]" maxlength="200" placeholder="E-mail *">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="password" name="txsenhaorganizador" id="txsenhaorganizador" class="form-control validate[required,minSize[3],maxSize[20]]" maxlength="20" placeholder="Senha *">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
                                <br /><a href="javascript:recuperarSenhaOrganizador()" id="esqueceu" class="forgot">Esqueci minha senha</a>
                            </div>
                        </div>
                        <div class="row pt30">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <button class="tg-btn" type="button" id="btn_login_organizador">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div id="form_redirect"></div>

@section scripts {
    @Scripts.Render("~/bundles/mask")
}