@model Biblioteca.Entidades.Instrutores

<div class="panel panel-default">
    <div class="panel-heading modal-head">
        <h4 class="panel-title nopad">
            @if (Model.idinstrutor == 0)
            {
                @: Incluir
            }
            else
            {
                @: Editar
            }
            - Instrutor
        </h4>
    </div>

    <div class="panel-body">
        <form method="post" action="" id="form-modal">
            <input type="hidden" id="idinstrutor" name="idinstrutor" value="@Model.idinstrutor" />
            <div class="form-group">
                <label class="control-label" for="txinstrutor">Nome *</label>
                <input type="text" class="form-control validate[required,minSize[3],maxSize[200]]" id="txinstrutor" name="txinstrutor" value="@Model.txinstrutor" maxlength="200" />
            </div>
            <div class="form-group">
                <label class="control-label" for="txemail">E-mail *</label>
                <input type="text" class="form-control validate[required,minSize[3],maxSize[200],email]" id="txemail" name="txemail" value="@Model.txemail" maxlength="200" />
            </div>
            <div class="form-group">
                <label class="control-label" for="txtelefone">Telefone *</label>
                <input type="text" class="form-control validate[required,minSize[3],maxSize[100]]" id="txtelefone" name="txtelefone" value="@Model.txtelefone" maxlength="100" />
            </div>
            <div class="form-group">
                <label class="control-label" for="txdescritivo">Descrição</label>
                <textarea name="txdescritivo" class="form-control" id="txdescritivo" placeholder="Descrição">@Model.txdescritivo</textarea>
            </div>
            <div class="text-center">
                <button id="incluir_btn" class="tg-btn text-center" type="button">ENVIAR</button>
            </div>
        </form>
    </div>

</div>

@Scripts.Render("~/bundles/instrutores")
