@model List<Biblioteca.Entidades.Instrutores>

@{
    ViewBag.Title = "Instrutores";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>@Html.Action("Usuario", "Painel")</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="~/Painel">Dashboard</a></li>
                <li class="tg-active">Instrutores</li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <input type="text" id="instrutor" name="instrutor" />&nbsp;<button class="tg-btn" type="button" id="pesquisa_instrutor">Localizar</button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                    <button class="tg-btn" type="button" onclick="Instrutores(0);">Novo</button>
                    &nbsp;
                    <button class="tg-btn" type="button" onclick="InstrutorAlterar()">Alterar</button>
                    &nbsp;
                    <button class="tg-btn" type="button" onclick="InstrutorExcluir()">Excluir</button>
                </div>
            </div>
            <div class="row pt">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="4%">#</th>
                                <th width="28%">INSTRUTOR</th>
                                <th width="28%">E-MAIL</th>
                                <th width="28%">TELEFONE</th>
                                <th width="12%">FOTO</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                                <tr>
                                    <th scope="row"><input type="checkbox" id="ident" name="ident" value="@p.idinstrutor" /></th>
                                    <td>@p.txinstrutor</td>
                                    <td>@p.txemail</td>
                                    <td>@p.txtelefone</td>
                                    <td>
                                        @if (@p.txfoto != "")
                                        {
                                            <img src="~/images/Instrutores/@p.txfoto" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            @{
                int min = 0;
                int max = 0;
                min = ((ViewBag.pagina - 1) * 10) + 1;
                max = ViewBag.pagina * 10;
                if (max > ViewBag.total) { max = ViewBag.total; }

                int pages = 0;
                pages = ViewBag.total / 10;
                if ((ViewBag.total % 10) > 0) { pages = (pages + 1); }

            }
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
                    @if (ViewBag.total > 0)
                    {
                        @Html.Raw("Exibindo " + @min + " a " + @max + " de " + @ViewBag.total);
                    }
                    else
                    {
                        @Html.Raw("Nenhum registro encontrado");
                    }
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                    Página @ViewBag.pagina de @pages
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @if (ViewBag.pagina > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous" onclick="pagination(-1)">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                </li>
                            }
                            @for (var x = 1; x <= pages; x++)
                            {
                                <li class="page-item"><a class="page-link @(ViewBag.pagina == x ? "pagesel" : "")" href="#" onclick="pagination(@x)">@x</a></li>
                            }
                            @if (ViewBag.pagina < pages)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next" onclick="pagination(0)">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Próxima</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <input type="hidden" id="page" name="page" value="@ViewBag.pagina" />
            <input type="hidden" id="totalpage" name="totalpage" value="@pages" />
        </div>
    </div>
</main>


@section scripts {
    @Scripts.Render("~/bundles/instrutores")
}


