@model List<Biblioteca.Entidades.Locais>

@{
    ViewBag.Title = "Locais";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>@Html.Action("Usuario", "Painel")</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="~/Painel">Dashboard</a></li>
                <li class="tg-active">Cadastros</li>
                <li class="tg-active">Locais</li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <input type="text" id="filtro_pesquisa" name="filtro_pesquisa" value="@ViewBag.filtro" />&nbsp;<button class="tg-btn" type="button" id="pesquisa_local">Localizar</button>
                    &nbsp;<button class="tg-btn" type="button" onclick="LocaisTodos();">Todos</button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                    <button class="tg-btn" type="button" onclick="Locais(0);">Novo</button>
                    &nbsp;
                    <button class="tg-btn" type="button" onclick="LocalAlterar()">Alterar</button>
                    &nbsp;
                    <button class="tg-btn" type="button" onclick="LocalExcluir()">Excluir</button>
                </div>
            </div>
            <div class="row pt">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="3%"><input type="checkbox" id="selectall" name="selectall" /></th>
                                <th width="33%">LOCAL</th>
                                <th width="32%">LOGRADOURO</th>
                                <th width="32%">CIDADE / ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                                <tr>
                                    <th scope="row"><input type="checkbox" id="ident" name="ident" value="@p.idlocal" /></th>
                                    <td>@p.txlocal</td>
                                    <td>@p.txlogradouro</td>
                                    <td>@p.txcidade / @p.txestado</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            @Html.Partial("~/Areas/Painel/Views/Painel/Paginacao.cshtml")
        </div>
    </div>
</main>


@section scripts {
    @Scripts.Render("~/bundles/locais")
}


