@{
    ViewBag.Title = "Home Page";
}

<div id="slideshow">
    <div>
        <img src="~/images/slider/img1.jpg">
    </div>
    <div>
        <img src="~/images/slider/img2.jpg">
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">
            <div class="row">
                @{int c = 0;}
                @foreach (var p in Model)
                {

                    if ((c % 3) == 0)
                    {
                        @Html.Raw("</div><div class='row'>");
                    }

                    <div class="col-md-4 col-xs-12 col-sm-6 div-curso">
                        <div>
                            <a href="Curso/@p.idcurso"><img class="img-responsive" alt="@p.txcurso" src="~/images/banner.jpg"></a>
                            <div class="gray-box">
                                <h4><a href="Curso/@p.idcurso">@p.txcurso</a></h4>
                                <p>
                                    <span><strong>Categoria:</strong> @p.txcategoria</span><br />
                                    <span><strong>Especialidade:</strong> @p.txespecialidade</span><br />
                                    <span><strong>Local:</strong> @p.txcidade / @p.txestado</span><br />
                                    @*<span class="instrutores">
                                        <strong>Instrutor(es):</strong>
                                        @{
                                            var arrI = p.instrutores.Split(',');
                                            var arrE = "";
                                            int cont = 0;
                                            foreach (var i in arrI)
                                            {
                                                var arrTemp = i.Split('|');
                                                if (cont > 0)
                                                {
                                                    @Html.Raw(", " + arrTemp[0].Trim());
                                                }
                                                else
                                                {
                                                    @Html.Raw(arrTemp[0].Trim());
                                                }
                                            cont = cont + 1;
                                        }
                                        }
                                    </span>*@

                                </p>
                                <a href="Curso/@p.idcurso"><button class="btn btn-info btn-rounded waves-effect waves-light m-t-10 center-block">Mais informações</button></a>
                            </div>
                        </div>
                    </div>
                    c++;
                }                
            </div>
        </div>
    </div>
</main>

@section scripts {
    @Scripts.Render("~/bundles/home")
}