@model List<Biblioteca.Entidades.Cursos>

@{
    ViewBag.Title = "Cursos";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>@Html.Action("Usuario", "Painel")</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="~/Painel">Dashboard</a></li>
                <li class="tg-active">Cursos</li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <input type="text" id="curso" name="curso" />&nbsp;<button class="tg-btn" type="button" id="pesquisa_curso">Localizar</button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                    <button class="tg-btn" type="button" onclick="Cursos(0);">Novo</button>
                    &nbsp;
                    <button class="tg-btn" type="button" onclick="CursoAlterar()">Alterar</button>
                    &nbsp;
                    <button class="tg-btn" type="button" onclick="CursoExcluir()">Excluir</button>
                </div>
            </div>
            <div class="row pt">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="4%">#</th>
                                <th width="56%">CURSO</th>
                                <th width="25%">CATEGORIA</th>
                                <th width="15%" colspan="5">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                                <tr>
                                    <th scope="row"><input type="checkbox" id="ident" name="ident" value="@p.idcurso" /></th>
                                    <td>@p.txcurso</td>
                                    <td>@p.nome_categoria.txcategoria</td>
                                    <td onclick="CursoInstrutor(@p.idcurso)" width="3%" title="Instrutores" class="td"><i class="glyphicon glyphicon-education border-icon"></i></td>
                                    <td onclick="CursoAluno(@p.idcurso)" width="3%" title="Alunos" class="td"><i class="glyphicon glyphicon-user border-icon"></i></td>
                                    <td onclick="CursoData(@p.idcurso)" width="3%" title="Datas" class="td"><i class="glyphicon glyphicon-calendar border-icon"></i></td>
                                    @if (p.flgratuito)
                                    {
                                        <td width="3%">&nbsp;</td>
                                    }
                                    else
                                    {
                                        <td onclick="CursoValor(@p.idcurso)" width="3%" title="Valores" class="td"><i class="glyphicon glyphicon-usd border-icon"></i></td>
                                    }
                                    <td onclick="CursoFolder(@p.idcurso)" width="3%" title="Folder" class="td"><i class="glyphicon glyphicon-list-alt border-icon"></i></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            @*<div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>*@
        </div>
    </div>
</main>


@section scripts {
    @Scripts.Render("~/bundles/cursos")
}


